meta(charset="UTF-8")
meta(content="yes",name="apple-mobile-web-app-capable")
meta(content="yes",name="apple-touch-fullscreen")
meta(content="black",name="apple-mobile-web-app-status-bar-style")
meta(content="telephone=no",name="format-detection")
meta(name="author",content="xiaoweb.cn")
meta(name="copyright",content="Copyright ©xiaoweb.cn 版权所有")
meta(name="revisit-after",content="1 days")
meta(name="keywords",content="")
meta(name="description",content="")
title 小小WEB
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet",href='#{static}/css/style.css')
script(type="text/javascript" src="#{static}/js/jquery.min.js")
script(type="text/javascript" src="#{static}/js/layer.js")
script(type="text/javascript" src="#{static}/js/requirejs.js")
script(type="text/javascript" src="#{static}/js/main.js")
